.main-title {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
.slide-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.quote {
    display: flex;
    align-content: center;
    border-left: 4px solid #4a90e2;
    border-radius: 6px;
    font-style: italic;
}
li {
    margin-bottom: 10px;
}